<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Hello, World !</title>
</head>
<body>
    <h1>我的第一个标题</h1>
    <p>我的第一个段落。</p>
    <p>当前用户 {{user}} </p>
    <form action="/spice1" method="get">
        <div><input type="submit" value="spice1"></div>
    </form>
    <form action="/spice2" method="get">
        <div><input type="submit" value="spice2"></div>
    </form>
    <form action="/spice3" method="get">
        <div><input type="submit" value="spice3"></div>
    </form>
    <form action="/spice4" method="get">
        <div><input type="submit" value="spice4"></div>
    </form>
    <form action="/logout" method="get">
        <div><input type="submit" value="退出"></div>
    </form>
</body>
</html>