<!doctype html>
<html lang="en">
  <head>
    <title>CZ_OpenSpice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/main/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/main/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="static/main/css/jquery-ui.css">
    <link rel="stylesheet" href="static/main/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/main/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/main/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="static/main/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="static/main/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="static/main/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="static/main/css/aos.css">

    <link rel="stylesheet" href="static/main/css/style.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-4">
            <h1 class="m-0 site-logo"><a href="/index_En">Services</a></h1>
          </div>

          <div class="col-8">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#about-section" class="nav-link">About</a></li>


                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                <li><a href="https://github.com/ColsonZhang/CZ_OpenSpice" class="nav-link">Github</a></li>
                <li><a href="/index_Zh" class="nav-link">Chinese</a></li>
                <li><a href="/logout" class="nav-link">Logout</a></li>
              </ul>
            </nav>


            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>

          </div>

        
        </div>
      </div>
      
    </header>


    <div class="site-blocks-cover overlay bg-light" style="background-image: url('static/main/images/hero_bg_1.jpg'); " id="home-section">

      <div class="container">
        <div class="row justify-content-center">

          <div class="col-12 text-center align-self-center text-intro">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h1 class="text-white" data-aos="fade-up" data-aos-delay="">CZ_OpenSpice Online Services</h1>
                <p class="lead text-white" data-aos="fade-up" data-aos-delay="100">CZ_OpenSpice provides the online platform for the schematic drawing and the circuit simulation,including the dc-simulation, ac-simulation and transient-simulation.More functions will be developed.</p>
                <p data-aos="fade-up" data-aos-delay="200"><a href="/schematic" class="btn smoothscroll btn-primary">Our Services</a></p>

              </div>
            </div>
          </div>
            
        </div>
      </div>

    </div>  

    
    

    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative">
            <h2 class="section-title">About The Project</h2>
          </div>
          <div class="col-lg-4">
            <p>CZ_OpenSpice is an online circuit simulation platform based on the core of the open source circuit simulator. It can provide integrated circuit developers and designers with a friendly interface, easy to use, and complete circuit design environment, including circuit schematic drawing, multiple modes of circuit simulation, Multi-interface result rendering and other functions enable developers to complete a relatively complete design process on the platform.</p>

            <p>The simulation platform is deployed on the server and is opened and used by users in the form of web, eliminating the user's download and installation process, and at the same time, it can also enable multiple platforms and multiple users to use in parallel.</p>
          </div>
          <div class="col-lg-4">
            <img src="static/main/images/about.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4">
            <p>CZ_OpenSpice is an open source project, and the code is open sourced on the Github platform and Gitee platform. This project uses a variety of open source technologies. The front-end drawing circuit schematic diagram mainly uses the open source js library mxgraph; the back-end execution circuit simulation mainly uses the PySpice library; the entire server uses the Tornado library to deploy.</p>

            <p>This project is a graduate design project aimed at building a flexible and easy-to-use circuit simulation platform. This project is for learning only; in addition, the platform will collect user design information with the knowledge of users. Please do not develop private projects on this platform.</p>
          </div>
          
          
        </div>
      </div>
    </div>




    <section class="site-section bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5 text-white">Users say</h2>
          </div>
        </div>
        <div class="owl-carousel slide-one-item">
          <div class="slide">
            <blockquote>
              <p>Flexible, convenient and fast.</p>
              <p><cite>&mdash; Student Wang</cite></p>
            </blockquote>
          </div>
          <div class="slide">
            <blockquote>
              <p>You can easily perform simple circuit verification without opening huge software</p>
              <p><cite>&mdash; Student Li</cite></p>
            </blockquote>
          </div>
          <div class="slide">
            <blockquote>
              <p>Multiple simulation modes are very convenient.</p>
              <p><cite>&mdash; Student Zhagn</cite></p>
            </blockquote>
          </div>
        </div>
      </div>
    </section>

    

    <section class="site-section" id="contact-section">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Contact Form</h2>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-lg-6">
            <form action="#" class="form">
              <div class="row mb-4">
                <div class="form-group col-6">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group col-6">
                  <input type="text" class="form-control" placeholder="Full Name">
                </div>
              </div>

              <div class="row mb-4">
                <div class="form-group col-12">
                  <input type="email" class="form-control" placeholder="Email Address">
                </div>
              </div>


              <div class="row mb-4">
                <div class="form-group col-12">
                  <textarea name="" id="" cols="20" rows="4" class="form-control" placeholder="Type here.."></textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <input type="submit" class="btn btn-primary" value="发送">
                </div>
              </div>
              
            </form>
          </div>
          <div class="col-lg-5">
            <h3>Developer Information</h3>
            <ul class="list-unstyled mb-5">
              <li class="mb-3">
                <strong class="d-block mb-1">Email</strong>
                <span>colson_zhang@foxmail.com</span>
              </li>
            </ul>

            <ul class="list-unstyled mb-5">
              <li class="mb-3">
                <strong class="d-block mb-1">Github</strong>
                <a href="https://github.com/ColsonZhang" ><span>https://github.com/ColsonZhang</span></a>
                
              </li>
            </ul>

          </div>
        </div>
      </div>
    </section>


        <div class="row">
          <div class="col-12 text-center">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="icon-heart"
                  aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>  
          </div>
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="static/main/js/jquery-3.3.1.min.js"></script>
  <script src="static/main/js/jquery-ui.js"></script>
  <script src="static/main/js/popper.min.js"></script>
  <script src="static/main/js/bootstrap.min.js"></script>
  <script src="static/main/js/owl.carousel.min.js"></script>
  <script src="static/main/js/jquery.easing.1.3.js"></script>
  <script src="static/main/js/aos.js"></script>
  <script src="static/main/js/jquery.fancybox.min.js"></script>
  <script src="static/main/js/jquery.sticky.js"></script>
  <script src="static/main/js/isotope.pkgd.min.js"></script>

  
  <script src="static/main/js/main.js"></script>
  </body>
  </body>
</html>